

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: rgb(224, 224, 224);
}

h1 {
    text-align: center;
    font-size: 3rem;
    color:#1919be;
    margin: 2rem;
}

/*-------------------New Game-------------------*/

.start-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#new-game {
    padding: 0.9rem;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    box-shadow: 2px 2px 5px black;
}


/*-------------------BIG SELECTOR-------------------*/
.flex-selector-for-everything {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    margin: 20px auto;
    gap: 1.5rem;
}

/*-------------------Hint-Box-------------------*/
.hint-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

span{
    font-size: 1.2rem;
    font-weight: 700;
    margin-right: 10px;
}

/*-------------------Keyboard-------------------*/

.container-for-letters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 70%;
    margin: 1rem auto;
}

.letter-styling-button {
    border-radius: 3px;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    background-color: #1919be;
}

.letter-styling-button:hover {
    cursor: pointer;
}

/*-------------------Word-------------------*/
#word-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    margin: 2rem;
}

.individual-letter {
    border-bottom: 2px solid black;
    padding: 1rem 1.2rem;
    font-size: 1.4rem;
}

/*-------------------GUESSING THE WORD-------------------*/

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 4rem;
}

form >  label {
    font-size: 1.2rem;
    font-weight: 700;
}

#input-text {
    font-size: 1rem;
}

#button-for-word-guessing:hover {
    cursor: pointer;
}

#button-for-word-guessing {
    font-size: 1.1rem;
    padding: 5px;
}

/*-------------------IMAGE STYLING-------------------*/

#image {
    max-width: 100%;
    height: auto;
}